<%- include('layout') %>
<div class="container mx-auto px-4 py-8">
  <% if (user) { %>
  <h1 class="text-2xl font-bold mb-4">
    Welcome back, <%= user.username.toUpperCase() %>
  </h1>
  <%- include('timer/timer') %>
  <a
    href="/logout"
    class="block mt-4 bg-red-500 text-white py-2 px-4 rounded max-w-xs text-center"
    >Logout</a
  >
  <div></div>
  <% } else { %>
  <div class="mb-6 text-center">
    <h1 class="text-3xl font-bold">Please log in or sign up</h1>
    <% if (messages.error) { %>
    <p class="text-red-600"><%= messages.error %></p>
    <% } %> <% if (messages.success) { %>
    <p class="text-green-600"><%= messages.success %></p>
    <% } %>
  </div>
  <form action="/login" method="post" class="max-w-md mx-auto">
    <div class="mb-4">
      <label for="username" class="block text-gray-700">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-input mt-1 block w-full"
      />
    </div>
    <div class="mb-6">
      <label for="password" class="block text-gray-700">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-input mt-1 block w-full"
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
    >
      Log in
    </button>
  </form>
  <p class="mt-4 text-center">
    Don't have an account?
    <a href="/signup" class="text-blue-600 hover:underline">Sign Up</a>
  </p>
  <% } %>
</div>
